/* NavBar.css */
.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh; /* Full viewport height */
    align-items: flex-start; /* Align items to the top */
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: #fff;
    width: 97%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed; 
    top: 30px;
    z-index: 1; 
    border-radius: 5px;
    border:.5px solid black
  }
  
  .navbar-brand {
    font-size: 1.5em;
  }
  
  .navbar-nav {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .nav-item {
    margin-left: 1em;
  }
  
  .nav-link {
    color: #fff;
    text-decoration: none;
  }
  
  .nav-link:hover {
    text-decoration: underline;
  }
  